<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/images/sequoia.ico" />
    <title>
      Sequoia | {{ page.title }}
    </title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/app.css" />
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/jquery.main.js"></script>
  </head>
  <body>
    <div class="layout-wrap">
      <div class="layout-header">
        <nav class="layout-top_nav">
          <ul class="layout-quick_links">
            <li><a href="http://blogs.sequoiainc.com">Sequoia Blogs</a></li>
            <li><a href="http://sequoia-apps.com">Sequoia Apps</a></li>
            <li><a href="{{ site.baseurl }}/news/">News</a></li>
            <li><a href="{{ site.baseurl }}/contact-us/">Contact us</a></li>
          </ul>
          <ul class="layout-social_networks">
            <li><a class="layout-social_network facebook" href="https://www.facebook.com/pages/Sequoia-Inc/362053207161245" target="_blank">facebook</a></li>
            <li><a class="layout-social_network twitter" href="https://twitter.com/sequoiainc" target="_blank">twitter</a></li>
            <li><a class="layout-social_network google" href="http://www.gplus.to/sequoiainc" target="_blank">google</a></li>
            <li><a class="layout-social_network linkedin" href="https://www.linkedin.com/company/sequoia-holdings-inc" target="_blank">linkedin</a></li>
          </ul>
        </nav>
        <div class="layout-mast">
          <h1 class="layout-logo"><a href="{{ site.baseurl }}/">Sequoia</a></h1>
          <div class="layout-slogan">A Company To Grow With</div>
          <div class="layout-best_places">
            <img src="{{ site.baseurl}}/assets/images/2016.png" alt="BPW 2015" height="85" width="85" title="Washington Business Journal" class="layout-best_place_image" href="https://www.facebook.com/pages/Sequoia-Inc/362053207161245">
            <img src="{{ site.baseurl}}/assets/images/2015.png" alt="BPW 2015" height="85" width="85" title="Washington Business Journal" class="layout-best_place_image" href="https://www.facebook.com/pages/Sequoia-Inc/362053207161245">
            <img src="{{ site.baseurl}}/assets/images/2014.png" alt="BPW 2014" height="85" width="85" title="Washington Business Journal" class="layout-best_place_image" href="https://www.facebook.com/pages/Sequoia-Inc/362053207161245">
            <img src="{{ site.baseurl}}/assets/images/2013.png" alt="BPW 2013" height="85" width="85" title="Washington Business Journal" class="layout-best_place_image" href="https://www.facebook.com/pages/Sequoia-Inc/362053207161245">
          </div>
        </div>
        <nav id="layout-header_nav" class="layout-header_nav okayNav">
          <ul class="layout-menu">
            <li class="layout-menu_item"><a href="{{ site.baseurl }}/what-we-do/">What We Do</a></li>
            <li class="layout-menu_item"><a href="{{ site.baseurl }}/team-sequoia/">About Us</a></li>
            <li class="layout-menu_item"><a href="{{ site.baseurl }}/life-at-sequoia/">Sequoia Life</a></li>
            <li class="layout-menu_item"><a href="{{ site.baseurl }}/by-the-numbers/">By The Numbers</a></li>
            <li class="layout-menu_item"><a href="{{ site.baseurl }}/careers/">Careers</a></li>
          </ul>
        </nav>
      </div>
      <div class="layout-content">
        {{ content }}
      </div>
      <footer class="layout-footer">
        <ul class="layout-footer_nav">
          <li><a href="{{ site.baseurl }}/">Home</a></li>
          <li><a href="{{ site.baseurl }}/what-we-do/">What We Do</a></li>
          <li><a href="{{ site.baseurl }}/life-at-sequoia/">Life At Sequoia</a></li>
          <li><a href="{{ site.baseurl }}/by-the-numbers/">By The Numbers</a></li>
          <li><a href="{{ site.baseurl }}/team-sequoia/">about Us</a></li>
          <li><a href="{{ site.baseurl }}/careers/">Careers</a></li>
          <li><a href="http://www.sequoia-apps.com">Apps</a></li>
          <li><a href="http://blogs.sequoiainc.com">Blogs</a></li>
          <li><a href="{{ site.baseurl }}/community/">Community</a></li>
          <li><a href="{{ site.baseurl }}/contact-us/">Contact us</a></li>
        </ul>
        <p class="layout-footer_copyright">© 2016 Sequoia Holdings, Inc</p>
      </footer>
    </div>
  </body>
</html>
